div {
    width: 40%;
 margin: 0px auto;
  position: relative; 
 
}

label{
    color: black;
    position: relative;
    
   
}

  input[type="submit"]{
    width: 50%!important;
    cursor: pointer;  
    background: #000000;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    -webkit-border-radius: 5px;
    border-radius: 16px;
    margin-left: 25%;
}

input[type="submit"]:hover{
    background: #292828;
}

  #cadastro{
    position: absolute;
    top: 0px;
    width: 88%; 
    padding: 18px 6% ;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);  
    border-radius: 10px;
}

  h2{
    font-size: 48px;
    color: #000000;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: #333335 2px 3px 2px;
}
 
body {
    margin: 40px;
}

input:not([type="checkbox"]){
    width: 50%;
    margin-top: 4px;
     
    border: 1px solid #b2b2b2;
    border-radius: 10px;        
}

body {
    background-color: #b2b2b2;
}